@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  margin: 0;
  padding: 0;
}

/*
html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
  background: rgb(31, 39, 52);
  color: rgb(212, 212, 212);
}

html,
body,
#root,
pre,
textarea {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

header {
  width: 100%;
  height: 200px;
}

textarea {
  width: 100%;
  border: none;
  background: rgb(31, 39, 52);
  color: rgb(212, 212, 212);
}
*/
